@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

body {
  margin: 0;
  box-sizing: content-box;

  font-family: "Barlow", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}
